# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Environment Variables
.env

# Databases & Cache
*.db
*.sqlite3
.pytest_cache/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Uploaded Media
datasets/uploaded_inspections/*
!datasets/uploaded_inspections/.gitkeep
